<div class="flex items-center bg-white sticky top-0  shadow z-20">
  <div class="py-1 flex-1 relative flex justify-between items-center px-8 header-border">
   <img src="assets/pngegg.png" class="w-12 h-12">
  <div class="flex gap-2">
    <button (click)="goToDetails('USD')" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full">
      EUR-USD Details
    </button>
    <button (click)="goToDetails('GBP')" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full">
      EUR-GBP Details
    </button>
  </div>
  </div>
</div>
