
<div class="flex gap-2 max-xs:flex-col px-8 py-3">
<div class="w-1/3 flex flex-col justify-between max-xs:w-full">
    <div class=" ">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
            Amount
        </label>
        <input (keypress)="handleKeyPress($event)" (change)="changeAmount()" [(ngModel)]="amountValue" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="amount" type="text" placeholder="amount">
      </div>

      <div class="border border-gray-400 text-gray-700 rounded p-3  max-xs:mt-2">
        {{defaultValueFrom}} {{nameCurrenyFrom}} =  {{defaultValueTo}} {{nameCurrenyTo}}
      </div>
</div>

<div class="w-2/3 max-xs:w-full">
    <div class="flex items-center gap-3">
        <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              From :
            </label>
            <div class="relative">
              <select class="block  appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" [(ngModel)]="selectedValueFrom" (change)="changeSelectFrom($event)" [disabled]="hidden">
                <option *ngFor="let item of symbols" [value]="item">{{item}}</option>
              
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>

          <img src="assets/switch.svg" class="w-6 h-6 mt-4 cursor-pionter" (click)="switchCurrency()" >
    
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              To :
            </label>
            <div class="relative">
              <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state"  [(ngModel)]="selectedValueTo"  (change)="changeSelectTo($event)">
                <option *ngFor="let item of symbols" [value]="item">{{item}}</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
    </div>
    <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full w-full my-4" (click)="convertCurrency()">
        Convert
    </button>

    <div class="flex gap-2 items-center">
      <div class="w-2/3 max-xs:w-full" [ngClass]="{'w-full': hidden}">
        <div class="border border-gray-400 text-gray-700 rounded p-3">
            {{totalResult}}{{nameCurrenyTo}}
          </div>
      </div>
      <div class="w-1/3 max-xs:w-full" *ngIf="!hidden">
        <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full w-full my-4" (click)="goToDetails()">
            details
        </button>
      </div>
    </div>

</div>



</div>